a {
text-decoration: none;
-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-ms-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
}
 
#section {
padding: 60px 0;
background: #66ffc2;
text-align: center;
color: #000000;
font-family: ‘Source Sans Pro’, sans-serif;
font-size: 1.6rem;
line-height: 1.3;
text-rendering: optimizeLegibility;
}
 
.container {
max-width: 85%;
width: 960px;
margin: 0 auto;
}
 
.heading {
margin: 0;
font-size: 2.6rem;
font-weight: 700;
padding-bottom: 2rem;
letter-spacing: 0.08rem;
}
 
.text {
margin-bottom: 20px;
font-size: 2rem;
line-height: 1.5;
font-weight: 400;
letter-spacing: 0.08rem;
}

 /*it a simple link - Read more*/ 
.more {
display: block;
margin: 2.2rem 0 0;
color:  #ff1a1a;
font-weight: 700;
font-size: 2.2rem;
}
 

.more:hover {
color: #fff;
}
 
.more::after {
content: “\f061”;
font-family: FontAwesome;
padding-left: 10px;
}